@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right, #11ED9A , #13A16B );
}

main{
    background-color: white;
    border-radius: 2%;
    box-shadow: 7px 7px 15px #084930ba ;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #ED7105;
    text-align: center;
    text-shadow: 1px 1px 2px #5c2d03;
}

h2{
    color: #133DA1 ;
    text-shadow: 1px 1px 1px #091d4bd6;
}

p{
    text-align: justify;
}